*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family:"Poppins",sans-serif; 
}

.titulo {
    margin-top: 64px;
    margin-left: 64px;
    margin-bottom: 48px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 528px;
    height: 134px;

    .titulo-preencher {
        color: #57534E;
    }
    .titulo-voltar {
        justify-content: space-between;
        display: flex;
        width: 80px;
        align-items: center;
    }

    .titulo-formulario {
        font-size: 24px;
    }
}

.informacoes {
    margin-left: 64px;
    width: 528px;
    height: 832px;
    display: flex;
    flex-flow: column;
    gap: 24px;
    .informacoes-participante {
        font-size: 16px;
        width: 528px;
        height: 20px;

        .informacoes-participante-pessoais {
            color: #57534E;

            .informacoes-respostas {
                color: #292524;
                
            }
        }
    }
}

.informacoes-respostas {
    width: 528px;
    height: 48px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 16px;
    border: 1px solid #D6D3D1;
}
.informacoes-participante-pessoais {
    font-size: 14px;
}
.borda {
    border: 2px solid #F3541C; /* Primeira borda */
    outline: 4px solid #FEE7D6; /* Segunda borda em torno da borda principal */

}
.informacoes-respostas-email {
   width: 528px; 
   height: 48px;
   border-radius: 8px;
   padding-left: 16px;
   border: 2px;
   outline: 2px solid rgba(220, 38, 38, 1);
}
.email-valido {

    font-size: 14px;
    color: rgba(220, 38, 38, 1);
}
.alerta-botao{
    margin-top: 4px;
    display: flex;
    width: 528px;
    height: 20px;
    gap:4px;
}
.upload {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:center;
    gap: 8px;
    width: 528px;
    height: 160px;
    border-radius: 8px;
    border: 2px dashed rgba(214, 211, 209, 1);}
    .upload-img{
     width: 48px;   
    }
    .upload-txt{
    text-align: center;
    width: 163px;
    height: 48px;
    font-size: 16px;
    color: rgba(168, 162, 158, 1);
    }
    .nome-caixa {
     width: 528px;
     height: 72px;  
    }
    .espacamento {
       display: flex;
       flex-flow: column; 
       gap: 24px;
    }
    .seta-feminino {
        width: 24px;
        height: 24px;
    }
    .nome-caixa-alerta {
        width: 528px;
        height: 96px;  
       }
    .espacamento2{
        display: flex;
        flex-flow: column; 
        gap: 24px;
    }
    .informacoes-participante2{
        font-size:16px;
        width: 528px;
        height: 20px;
    }
   .container{
        font-size: 16px;
        width: 528px;
        height: 520px;
        margin-left: 64px;
        width: 528px;
        display: flex;
        flex-flow: column;
        gap: 24px;
   }
   .informacoes-participante-pessoais2 {
    font-size: 14px;

   }
   .informacoes-respostas-borda2{
    width: 528px;
    height: 48px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 16px;
    border: 1px solid;
    background: var(--surface-colors-surface-disabled, #E7E5E4);
 
   }
  .junto{
    text-align: center;
    display: flex;
    gap: 24px;
  }
  .informacoes-respostas-borda3{
    width: 528px;
    height: 48px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 16px;
    border: 1px solid;
    background: var(--surface-colors-surface-primary, #FFFFFF);
  }

    